.Logo{
    width: 15%;
}

.fundomenu{
    background-color: aqua;
}

.minhafonte{
    font-size: 1.5rem;
}

.centro{
    text-align: center;
}

.minhacor{
    font-size: 1.1em;
    color: #000000;
}

.card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.titulo{
    text-align: center;
    color: red;
}

.borda{
    border: 2px solid black;
}

.borda2{
    border: 2px solid red;
}

.borda3{
    border: 1px solid black;
}

.footer{
    text-align: center;
    padding: 20px;
    color: aliceblue;
    background-color: aqua;
    font-size: 1.5em;
}